<!DOCTYPE html>
<html>
	<head>
		<title>Decks: {{ level }}</title>
		<link rel="stylesheet" href="/static/css/index.css">
	</head>
	<body>
		<header>
			<h1><b><u>FLASH CARD APPLICATION</u></b></h1>
		</header>
		<br><br><br><br>
		<section>
			<p><h1>Decks: {{ level }}</h1></p>
			{% if decks %}
			<table border = 2 style="margin-left:auto; margin-right:auto;">
				<tr>
					<th>Word</th>
					<th>Synonyms</th>
				</tr>
				{% for deck in decks %}
				<tr>
					<td>{{ deck['word'] }}</td>
					<td>{{ deck['synonyms'] }}</td>
				</tr>
				{% endfor %}
			</table>
			{% else %}
			No such record found<br>
			{% endif %}
			<br><br>
			<p><h1><button onclick="location='/decks'">Go Back</button></h1></p>
			<p><h1><button onclick="location='/admin_dashboard'">Administrator Dashboard</button></h1></p>
			<p><h1><button onclick="location='/logout'">Logout</button></h1></p>
		</section>
		<footer>
			<h2><i>by ANSH KUSHWAHA</i></h2>
			<h4><a href="mailto:21f1006019@student.onlinedegree.iitm.ac.in">21f1006019@student.onlinedegree.iitm.ac.in</a></h4>
		</footer>
	</body>
</html>