<!DOCTYPE html>
<html>
	<head>
		<title>Access Denied</title>
		<link rel="stylesheet" href="static/css/index.css">
	</head>
	<body>
		<header>
			<h1><b><u>FLASH CARD APPLICATION</u></b></h1>
		</header>
		<br><br><br><br>
		<section>
			<p>
				You are not authorised to view this page.<br>
				This page is only for Administrator<br>
			</p>
			<br><br>
			<p>Click the button below to return to the Home Page</p>
			<p><h1><button onclick="location='/'">Home Page</button></h1></p>
			<br>
			<p>OR</p>
			<br>
			<p>Click the button below to Login as Administrator</p>
			<p><h1><button onclick="location='admin_login'">Administrator Login</button></h1></p>
		</section>
		<footer>
			<h2><i>by ANSH KUSHWAHA</i></h2>
			<h4><a href="mailto:21f1006019@student.onlinedegree.iitm.ac.in">21f1006019@student.onlinedegree.iitm.ac.in</a></h4>
		</footer>
	</body>
</html>